<br /><br /><button type="button" (click)="clicked()">Click me!</button><br /><br />
<span>{{message}}</span>

<h4>Calculator</h4>
<div>
    <input type="number" [(ngModel)]="numberOne" /><br /><br />
    <input type="number" [(ngModel)]="numberTwo" />
</div><br />
<div>
    <button (click)="add()">Add</button>&nbsp;
    <button (click)="subtract()">Subtract</button>&nbsp;
    <button (click)="clear()">Clear</button>
</div>

<h5 *ngIf="result!=undefined">{{resultMessage}}{{result | strength}}</h5>

<router-outlet></router-outlet>